<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DIR" value="./logs/" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
    </appender>
    
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
      <file>${LOG_DIR}/api.log</file>
      <append>true</append>
      <encoder>
          <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
      </encoder>
  </appender>

  <root name="com.refinitiv.ema" level="TRACE">
      <!--<appender-ref ref="STDOUT" />-->
      <appender-ref ref="FILE" /> 
  </root>

  <root name="com.refinitiv.ema" level="INFO">
      <appender-ref ref="STDOUT" />
  </root>

  <!-- com.refinitiv.eta.valueadd.reactor.RestReactor -->
  <root name="com.refinitiv.eta.valueadd" level="TRACE">
    <appender-ref ref="FILE" /> 
  </root>

  
</configuration>